<ion-view title="Home" id="page2">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/xXxdk2MQrOnDjfvT9YCR_health_analytics.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.list()" id="home-button1" class="button button-positive button-block">Analytic Accelerators</a>
    <a ui-sref="tabsController.settings()" id="home-button3" class="button button-positive button-block">Settings</a>
    <a ui-sref="tabsController.search()" id="home-button4" class="button button-positive button-block">Search</a>
  </ion-content>
</ion-view>