<ion-view title="Settings" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="settings-form7" class="list">
      <label class="item item-input" id="settings-input13">
        <span class="input-label">First</span>
        <input type="text" placeholder="{{data.first_name}}">
      </label>
      <label class="item item-input" id="settings-input18">
        <span class="input-label">Last</span>
        <input type="text" placeholder="{{data.last_name}}">
      </label>
      <label class="item item-input" id="settings-input15">
        <span class="input-label">Organization</span>
        <input type="text" placeholder="{{data.organization}}">
      </label>
      <label class="item item-input" id="settings-input17">
        <span class="input-label">Email</span>
        <input type="text" placeholder="{{data.email}}">
      </label>
      <label class="item item-input" id="settings-input16">
        <span class="input-label">Email 2</span>
        <input type="text" placeholder="{{data.email_confirm}}">
      </label>
      <button id="settings-button2" ng-submit="$scope.submit" class="button button-positive button-block">Submit Registration</button>
    </form>
    <form id="settings-form6" class="list">
      <label class="item item-input" id="settings-input12">
        <span class="input-label">Server URL</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>