<ion-view id="page1" style="background-color:#D7DDE4;">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-home" href="#/tabs/home" id="tabsController-tab1" ng-show="true">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-search" href="#/tabs/tab2/search" id="tabsController-tab2" ng-show="true">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settngs" icon="ion-gear-a" href="#/tabs/tab3/settings" id="tabsController-tab3" ng-show="true">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>